rect {
  stroke: rgb(0,0,0);
  stroke-width: 1px;
  fill: white;


  &.blue {
    fill: #0a6df9;
  }

  &.red {
    fill: #cb1d1d;
  }

  &.yellow {
    fill: #dcc40e;
  }

  &.green {
    fill: #1cc620;
  }

  &.purple {
    fill: #8b14e0;
  }

  &.gray {
    fill: #c3c1aa;
  }


}
